# No non-source python resources.
*.pyc
*.pyo
*.pyd
*.pyx

# No build artifacts
build
wheelhouse
*.lib
*.dll
bin/*
/bin
dist/
dist-*/
doc/*.png
doc/_build
doc/tutorials/anl-afci-177*
doc/tutorials/case-suite
armi/tests/tutorials/case-suite
.apidocs/
doc/gallery
htmlcov/

# No workspace crumbs.
*~
.*.swp
.settings
.vscode
.project
.metadata
.idea/
.pydevproject
*.sublime-project
*.sublime-workspace
phabricator-lint.txt
temp-*
tags
*.temp
.externalToolBuilders/
.cache/
.pytest_cache/
.vim-bookmarks
venv*/
.mypy_cache/
**/__pycache__
**/.coverage*
**/logs/*

# Misc. exclusions
*.html
*.diff
*.avi
*.ppm
*.mp4
*.h5
*.txt

# vis files
*.vtu
*.vtd
*.xdmf

# fixtures
.ipynb_checkpoints
.tox

*.egg-info/
armi.egg-info
