# No non-source python resources.
*.pyc
*.pyd
*.pyo
*.pyx

# No build artifacts
*.dll
*.lib
.apidocs/
.coverage
/bin
armi/tests/tutorials/case-suite
bin/*
build
coverage.lcov
coverage.xml
coverage_results.*
dist-*/
dist/
doc/_build
doc/gallery
doc/gallery-src/framework/*.yaml
doc/tutorials/anl-afci-177*
doc/tutorials/case-suite
doc/user/tutorials
htmlcov/
monkeytype.*
wheelhouse

# No workspace crumbs.
**/.coverage*
**/__pycache__
**/logs/*
*.ascii
*.egg-info/
*.sublime-project
*.sublime-workspace
*.temp
*~
.*.swp
.cache/
.externalToolBuilders/
.idea/
.metadata
.mypy_cache/
.project
.pydevproject
.pytest_cache/
.ruff_cache/
.settings
.vim-bookmarks
.vscode
armi-venv/*
dump-temp-*
dump-tests*
phabricator-lint.txt
pytestdebug.log
reportsOutputFiles/
tags
temp-*
venv*/

# Misc. exclusions
*.avi
*.diff
*.h5
*.html
*.mp4
*.ppm
*.txt

# metadata file specific to MacOS
.DS_Store

# vis files
*.vtd
*.vtu
*.xdmf

# fixtures
.ipynb_checkpoints
.tox
