# No non-source python resources
*.pyc
*.pyd
*.pyo
*.pyx

# No build artifacts
*.aux
*.dll
*.fdb_latexmk
*.fls
*.lib
/bin
armi/material/bdist*/
armi/material/build/
armi/material/dist*/
armi/tests/tutorials/case-suite
bdist*/
bin/*
build
coverage.lcov
coverage.xml
coverage_results.*
dist*/
doc/.apidocs
doc/_build
doc/anl-afci-177
doc/gallery
doc/gallery-src/framework/*.yaml
doc/tutorials/anl-afci-177*
doc/tutorials/case-suite
doc/user/tutorials
htmlcov/
monkeytype.*
test_results.*
wheelhouse

# No workspace crumbs
**/.coverage*
**/__pycache__
**/logs/*
*.ascii
*.egg-info/
*.sublime-project
*.sublime-workspace
*.temp
*~
.*.swp
.cache/
.coverage
.DS_Store
.externalToolBuilders/
.hypothesis/
.idea/
.ipynb_checkpoints
.metadata
.mypy_cache/
.project
.pydevproject
.pytest_cache/
.ruff_cache/
.settings
.tox
.vim-bookmarks
.vscode
armi-venv/*
armi/material/*.egg-info/
dump-temp-*
dump-tests*
phabricator-lint.txt
pytest_verbose.log
pytestdebug.log
python_details.log
reportsOutputFiles/
system_info.log
tags
temp-*
venv*/

# Ignore certain data files
*.avi
*.diff
*.flux_bg
*.flux_ufg
*.h5
*.html
*.mp4
*.nucdata
*.out
*.ppm
*.sum
*.txt
*.vtd
*.vtu
*.xdmf
*dlayxs*
