include armi/nuclearDataIO/tests/fixtures/combined-AA-AB.gamiso
include armi/nuclearDataIO/tests/fixtures/combined-AA-AB.isotxs
include armi/nuclearDataIO/tests/fixtures/combined-AA-AB.pmatrx
include armi/nuclearDataIO/tests/fixtures/combined-and-lumped-AA-AB.gamiso
include armi/nuclearDataIO/tests/fixtures/combined-and-lumped-AA-AB.isotxs
include armi/nuclearDataIO/tests/fixtures/combined-and-lumped-AA-AB.pmatrx
include armi/nuclearDataIO/tests/fixtures/mc2v3-AA.flux_ufg
include armi/nuclearDataIO/tests/fixtures/mc2v3-AA.gamiso
include armi/nuclearDataIO/tests/fixtures/mc2v3-AA.isotxs
include armi/nuclearDataIO/tests/fixtures/mc2v3-AA.pmatrx
include armi/nuclearDataIO/tests/fixtures/mc2v3-AB.gamiso
include armi/nuclearDataIO/tests/fixtures/mc2v3-AB.isotxs
include armi/nuclearDataIO/tests/fixtures/mc2v3-AB.pmatrx
include armi/nuclearDataIO/tests/fixtures/mc2v3.dlayxs
include armi/nuclearDataIO/tests/fixtures/simple_hexz.nhflux
include armi/bookkeeping/tests/armiRun-A0039-aHist-ref.txt
include armi/nuclearDataIO/tests/labels.ascii
include armi/nuclearDataIO/tests/labels.binary
include armi/nuclearDataIO/tests/library-file-generation
include armi/nuclearDataIO/tests/library-file-generation/combine-AA-AB.inp
include armi/nuclearDataIO/tests/library-file-generation/combine-and-lump-AA-AB.inp
include armi/nuclearDataIO/tests/library-file-generation/mc2v2-dlayxs.inp
include armi/nuclearDataIO/tests/library-file-generation/mc2v3-AA.inp
include armi/nuclearDataIO/tests/library-file-generation/mc2v3-AB.inp
include armi/nuclearDataIO/tests/library-file-generation/mc2v3-dlayxs.inp
include armi/nuclearDataIO/tests/longLivedRipleData.dat
include armi/nuclearDataIO/tests/simple_hexz.inp
include armi/nuclearDataIO/tests/z036.dat
include armi/settings/tests/old_xml_settings_input.xml
include armi/tests/1DslabXSByCompTest.yaml
include armi/tests/armiRun-SHUFFLES.txt
include armi/tests/armiRun.yaml
include armi/tests/cartesian-geom.xml
include armi/tests/COMPXS.ascii
include armi/tests/geom.xml
include armi/tests/geom1Assem.xml
include armi/tests/geomSmall.xml
include armi/tests/ISOAA
include armi/tests/partisnReactorGeom.xml
include armi/tests/partisnTestReactor.yaml
include armi/tests/refOneBlockReactor.yaml
include armi/tests/refSmallCartesian.yaml
include armi/tests/refSmallReactor.yaml
include armi/tests/refTestCartesian.yaml
include armi/tests/sfpGeom.yaml
include armi/tests/testEq.yaml
include armi/tests/testEqMulti-geom.xml
include armi/tests/testEqSingle-geom.xml
include armi/tests/test_batch.cinder.dump
include armi/tests/ThRZGeom.xml
include armi/tests/ThRZloading.yaml
include armi/tests/ThRZSettings.yaml
include armi/tests/trz_geom.xml
include armi/tests/tutorials
include armi/tests/tutorials/anl-afci-177-blueprints.yaml
include armi/tests/tutorials/anl-afci-177-coreMap.yaml
include armi/tests/tutorials/anl-afci-177-fuelManagement.py
include armi/tests/tutorials/anl-afci-177.yaml
include armi/tests/tutorials/data_model.ipynb
include armi/tests/zpprTest.yaml
include armi/tests/zpprTestGeom.xml
