# see https://github.com/numpy/numpy/issues/17726
numpy<1.19.4
scipy
yamlize
matplotlib
h5py<3.0
tabulate
ordered-set
pluggy
pyyaml>=5.1
pyevtk
xlrd
pillow
future
configparser
voluptuous
pympler
coverage

psutil[memprof]
