# This requirements file is only here for Travis CI.
numpy<1.19.4
https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-16.04/wxPython-4.1.0-cp36-cp36m-linux_x86_64.whl
# pytest-xvfb
screeninfo
-e .[memprof,dev]
