# these are most specified that usual, because Sphinx docs seem to be quite fragile
Sphinx==4.4.0

# Parses Jupyter notebooks
nbsphinx==0.8.8

# Includes Jupyter notebooks in Sphinx source root
nbsphinx-link==1.3.0

# builds a HTML version of a Python script and puts it into a gallery
sphinx-gallery==0.9.0

# Read-The-Docs theme for Sphinx
sphinx-rtd-theme==0.5.2

# allows us to more easily document our API
sphinxcontrib-apidoc==0.3.0

# generates OpenGraph metadata?
sphinxext-opengraph==0.5.1

# This is not strictly necessary via PIP, but MUST be in the path.
# Used to convert between file formats.
pandoc

# iPython kernel to run Jupyter notebooks
ipykernel==6.7.0

# helps us use RST files
docutils<0.18
