@import 'theme.css';

/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

img {
   max-width: 100% !important;
}

/* long tables */
.rst-content table.docutils {
    margin: 0;
    padding: 0;
    font-size: 10pt;
}

.rst-content table.docutils td, .rst-content table.docutils th, .rst-content table.field-list td, .rst-content table.field-list th, .wy-table td, .wy-table th {
    margin: 0;
    padding: 0;
}

/* code snippets */
.rst-content .linenodiv pre, .rst-content div[class^=highlight] pre, .rst-content pre.literal-block {
    ssp-tiny;
}

/* move equation numbers to right side of the equation */
span.eqno {
    float: right;
}
