body{
    display: flex;
    flex-flow: space-between;
    height:100vh;
    font-family:'Times';
    margin: 0;
    color:black;
    line-height: 1.53em;
    font-size: 1.2rem;
    background-color: white;
}

main {
    flex:1 1 300px;
    font-family: Verdana, sans-serif;
    background-color: #007ab4;
    min-width: 240px;
    height:100%;
    width:100%;
    padding:0;
    overflow-y: auto;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2 {
    margin-top:3rem;
    font-weight:300;
    color: Black;
}
h1 {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 45pt;
}
h1#titleFont{
    display: inline;
    font-size:18pt;
    color: white;
    margin-left: 0;
    padding-top: 5pt
}


img,
table{
    margin-left:auto;
    margin-right:auto; 
}

img.heading {
    width: 300;
    height: auto;
    vertical-align: middle;
    margin-left:0;
    margin-right:0; 
}

img{
    width:800;
    height:auto;
    display: block;
    margin: auto;
}

table,
tr,
th, 
td{
    border: 1px solid rgb(0, 0, 0);
    text-align: left; 
}

table{
    width:400px;
    height:auto;
}

td{
    padding:5pt;
}

tr:hover {background-color: #f5f5f5;}

tr:nth-child(even) {background-color: #f2f2f2;}

th {
    background-color:#1d8abd;
    color: white;
}


div {
    flex: 3 3 100%;
    overflow: auto;
    padding:2rem 3rem;
}

div#container{
    padding:0;
}

div#heading{
    background-color: rgb(113, 187, 217);
    box-shadow: 0 2pt 3pt slategray;
    border-bottom-left-radius: 10pt;
    border-bottom-right-radius: 10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17pt;
    display: flex;  
}

h1,
h2,
p{
    max-width: 700px;
}


ul{
    color: white;
    font-variant: small-caps;
    font-family: Verdana, sans-serif;
    text-align: left;
    font-size: 1rem;
    margin-left:0pt;
    list-style: none;
    text-indent: 7px;
    padding-left: 0;
}
ul.section{
    background-color: #1d8abd;
}

ul.subsection{
    font-variant: normal;
    font-size: .8rem;
    display: none;
    overflow: hidden;
    background-color: rgb(168 191 210 / 57%);
    
    
}
ul.nestedSubsection{
    display: none;
    font-size: .8rem;
    background-color: rgb(168 191 210 / 70%);
    position: relative;
}
ul.section:hover {background-color: #06557a9d;}
li.nestedSubsection{
    text-indent: 3pt;
    border:rgb(113, 187, 217);
    display: flex;
}
li.nestedSection{
    content: '+';
    position:relative;
}
li:hover {background-color: #06557a;}
.nestedSection::after{
    content: '+';
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 2px;
}

.nestedSection.active::after{
    content: "-";
    position:absolute;
}
a {
    color:white;
    text-decoration: none;
    display: block;
    width: 100%;
}

