name: Documentation

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    # Building and deploying docs is broken on forked repos
    if: github.repository == 'terrapower/armi'
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Update package index
        run: sudo apt-get update
      - name: Install mpi libs
        run: sudo apt-get -y install libopenmpi-dev
      - name: Install Pandoc
        run: sudo apt-get -y install pandoc
      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@v2.0.2
      - name: Make HTML Docs
        run: |
          pip install -e .[memprof,mpi,test,docs]
          cd doc
          git submodule init
          git submodule update
          make html
          make simplepdf
      - name: Deploy
        if: github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@v4.6.1
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          repository-name: ${{ github.repository_owner }}/terrapower.github.io
          branch: main
          folder: doc/_build/html
          target-folder: armi
      - name: Archive HTML Docs
        if: github.ref != 'refs/heads/main'
        uses: actions/upload-artifact@v4
        with:
          name: html-docs
          path: doc/_build/html
          retention-days: 5
      - name: Archive PDF Docs
        if: github.ref != 'refs/heads/main'
        uses: actions/upload-artifact@v4
        with:
          name: pdf-docs
          path: doc/_build/simplepdf/ARMI.pdf
          retention-days: 5
