name: Documentation

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    # Building and deploying docs is broken on forked repos
    if: github.repository == 'terrapower/armi'
    runs-on: ubuntu-22.04

    steps:
      - name: Cleanup build folder
        run: |
          ls -la ./
          rm -rf ./* || true
          rm -rf ./.??* || true
          ls -la ./
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.13
      - name: Update package index
        run: sudo apt-get update
      - name: Install apt-get libs
        run: sudo apt-get -y install texlive-xetex=2021.20220204-1 texlive-latex-base=2021.20220204-1 texlive-fonts-recommended=2021.20220204-1 texlive-latex-extra=2021.20220204-1 texlive-full=2021.20220204-1 pandoc libopenmpi-dev
      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@v2.0.2
      - name: Make HTML Docs
        continue-on-error: true
        env:
          GH_TOKEN: ${{ github.token }}
          PR_NUMBER: ${{ github.event.number }}
        run: |
          echo "Installing ARMI..."
          set -x
          pip install -U pip
          pip install -e .[memprof,mpi,test,docs]

          echo "Run unit tests..."
          pytest --junit-xml=test_results.xml -v -n 4 armi > pytest_verbose.log
          mpiexec -n 2 --use-hwthread-cpus pytest --junit-xml=test_results_mpi1.xml armi/tests/test_mpiFeatures.py > pytest_verbose_mpi1.log
          mpiexec -n 2 --use-hwthread-cpus pytest --junit-xml=test_results_mpi2.xml armi/tests/test_mpiParameters.py > pytest_verbose_mpi2.log
          mpiexec -n 2 --use-hwthread-cpus pytest --junit-xml=test_results_mpi3.xml armi/utils/tests/test_directoryChangersMpi.py > pytest_verbose_mpi3.log
          python doc/.static/cleanup_test_results.py test_results.xml

          echo "Git magic so the SCR will build on GitHub Actions..."
          git fetch --depth=2000

          echo "Build HTML docs..."
          cd doc
          git submodule init
          git submodule update
          make html
      - name: Deploy
        if: github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@v4.6.1
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          repository-name: ${{ github.repository_owner }}/terrapower.github.io
          branch: main
          folder: doc/_build/html
          target-folder: armi
      - name: Archive HTML Docs
        if: github.ref != 'refs/heads/main'
        uses: actions/upload-artifact@v4
        with:
          name: html-docs
          path: doc/_build/html
          retention-days: 5
      - name: Make PDF Docs
        continue-on-error: true
        env:
          GH_TOKEN: ${{ github.token }}
          PR_NUMBER: ${{ github.event.number }}
        run: |
          echo "Cleaning out API docs from PDF..."
          set -x

          #rm -r .apidocs
          rm -rf .apidocs
          rm -r docs/.apidocs
          rm -rf */.apidocs
          rm -rf */*/.apidocs
          rm -rf */*/*/.apidocs
          rm -rf */*/*/*/.apidocs
          rm -rf */*/*/*/*/.apidocs

          rm -rf _modules
          rm -rf */_modules
          rm -rf */*/_modules
          rm -rf */*/*/_modules
          rm -rf */*/*/*/_modules
          rm -rf */*/*/*/*/_modules

          rm -rf doc/_build/_modules
          rm -rf doc/_build/doctrees
          rm -rf doc/_build/doctrees/.apidocs
          rm -rf doc/_build/html/.apidocs
          #rm -rf doc/_build/html/_sources/.apidocs
          rm -rf doc/_build/html/_sources
          rm -rf doc/_build/html/_modules

          ls -lah *
          ls -lah doc/
          ls -lah doc/_build
          ls -lah doc/_build/*/
          ls -lah doc/_build/html/*/
          ls -lah doc/_build/*/*/
          ls -lah doc/*/*
          ls -lah doc/*/*/*
          ls -lah doc/*/*/*/*

          echo "Build PDF docs..."
          cd doc/
          make --debug latex
          cd _build/latex/
          latexmk -pdf -f -interaction=nonstopmode -verbose ARMI.tex
      - name: Archive PDF Docs
        uses: actions/upload-artifact@v4
        with:
          name: pdf-docs
          path: doc/_build/latex/ARMI.pdf
          retention-days: 5
