# The goal of this Workflow is to test mat-props as a stand-alone library, separate from ARMI.
name: Test mat-props

permissions:
  contents: read

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'doc/**'
  pull_request:
    paths-ignore:
      - 'doc/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: ubuntu-24.04
    strategy:
      matrix:
        #python: [3.9, '3.10', '3.11', '3.12', '3.13']
        python: ['3.13']

    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
          allow-prereleases: true
      - name: Install & Test mat-props
        run: |
          set -x
          cd armi
          mv __init__.py tmpinit
          touch __init__.py
          cd ../mat-props
          pip freeze
          pip uninstall -y armi
          pip install -e .[test]
          python -c "import armi.matProps;print(dir(armi.matProps))"
          python -c "import armi;print(dir(armi))"
          mkdir tmp
          cd tmp
          cp ../../armi/matProps/tests/test_point.py .
          pip freeze
          pytest test_point.py
