name: ARMI unit tests

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python: [3.7, 3.8, 3.9, '3.10']

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Update package index
        run: sudo apt-get update
      - name: Install mpi libs
        run: sudo apt-get -y install libopenmpi-dev
      - name: Install Tox and any other packages
        run: pip install tox
      - name: Run Tox
        run: tox -e test,mpitest
