name: Validate Manifest

permissions:
  contents: read

on: [push]

jobs:
  build:

    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'
      - name: Validate Manifest
        run: |
          pip install toml
          python .github/workflows/validatemanifest.py
