name: Validate Manifest

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'
      - name: Validate Manifest
        run: |
          pip install toml
          python .github/workflows/validatemanifest.py
