name: ARMI Windows tests

on: [push, pull_request]

jobs:
  build:

    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Upgrade PIP
        run: python -m pip install --upgrade pip
      - name: Install deps
        run: python -m pip install tox tox-gh-actions
      - name: Run Tox
        run: tox -e test
